In [74]:
import pandas as pd

## 1. Load a DataFrame from a CSV file. Display the first and last five rows of the DataFrame.

In [75]:
df = pd.read_csv("Supermarket Sales.csv")

In [76]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [77]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

## 2. Set a specific column as the index of the DataFrame.

In [78]:
df.set_index('Invoice ID', inplace=True)

In [79]:
df.head()

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Invoice ID,,,,,,,,,,,,,,,,
750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

## 3. Select a specific column and display its values.

In [80]:
df['Rating']

Invoice ID
750-67-8428    9.1
226-31-3081    9.6
631-41-3108    7.4
123-19-1176    8.4
373-73-7910    5.3
              ...
233-67-5758    6.2
303-96-2227    4.4
727-02-1313    7.7
347-56-2442    4.1
849-09-3807    6.6
Name: Rating, Length: 1000, dtype: float64

## 4. Select multiple columns and display the resulting DataFrame.

In [81]:
df[['City', 'Unit price', 'Tax 5%', 'Total', 'Rating']]

                  City  Unit price   Tax 5%      Total  Rating
Invoice ID
750-67-8428     Yangon       74.69  26.1415   548.9715     9.1
226-31-3081  Naypyitaw       15.28   3.8200    80.2200     9.6
631-41-3108     Yangon       46.33  16.2155   340.5255     7.4
123-19-1176     Yangon       58.22  23.2880   489.0480     8.4
373-73-7910     Yangon       86.31  30.2085   634.3785     5.3
...                ...         ...      ...        ...     ...
233-67-5758  Naypyitaw       40.35   2.0175    42.3675     6.2
303-96-2227   Mandalay       97.38  48.6900  1022.4900     4.4
727-02-1313     Yangon       31.84   1.5920    33.4320     7.7
347-56-2442     Yangon       65.82   3.2910    69.1110     4.1
849-09-3807     Yangon       88.34  30.9190   649.2990     6.6

[1000 rows x 5 columns]

## 5. Select a subset of rows using the .loc method.

In [82]:
df.loc[ '163-56-7055' : '549-84-7482' ,'City' : 'Total']

,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total
Invoice ID,,,,,,,,
163-56-7055,Naypyitaw,Member,Male,Fashion accessories,48.71,1,2.4355,51.1455
189-98-2939,Naypyitaw,Normal,Male,Fashion accessories,78.55,9,35.3475,742.2975
551-21-3069,Naypyitaw,Normal,Female,Electronic accessories,23.07,9,10.3815,218.0115
212-62-1842,Yangon,Normal,Male,Food and beverages,58.26,6,17.4780,367.0380
716-39-1409,Mandalay,Normal,Male,Health and beauty,30.35,7,10.6225,223.0725
704-48-3927,Yangon,Member,Male,Electronic accessories,88.67,10,44.3350,931.0350
628-34-3388,Naypyitaw,Normal,Male,Fashion accessories,27.38,6,8.2140,172.4940
630-74-5166,Yangon,Normal,Male,Sports and travel,62.13,6,18.6390,391.4190
588-01-7461,Naypyitaw,Normal,Female,Food and beverages,33.98,9,15.2910,321.1110
861-77-0145,Naypyitaw,Member,Male,Electronic accessories,81.97,10,40.9850,860.6850
479-26-8945,Mandalay,Member,Female,Sports and travel,16.49,2,1.6490,34.6290
210-67-5886,Naypyitaw,Member,Female,Health and beauty,98.21,3,14.7315,309.3615
227-78-1148,Mandalay,Normal,Female,Fashion accessories,72.84,7,25.4940,535.3740
645-44-1170,Yangon,Member,Male,Home and lifestyle,58.07,9,26.1315,548.7615
237-01-6122,Naypyitaw,Member,Female,Home and lifestyle,80.79,9,36.3555,763.4655
225-98-1496,Naypyitaw,Normal,Female,Fashion accessories,27.02,3,4.0530,85.1130
291-32-1427,Mandalay,Member,Male,Fashion accessories,21.94,5,5.4850,115.1850
659-65-8956,Mandalay,Member,Male,Fashion accessories,51.36,1,2.5680,53.9280
642-32-2990,Yangon,Normal,Female,Food and beverages,10.96,10,5.4800,115.0800
378-24-2715,Mandalay,Normal,Male,Home and lifestyle,53.44,2,5.3440,112.2240
638-60-7125,Yangon,Normal,Female,Electronic accessories,99.56,8,39.8240,836.3040
659-36-1684,Naypyitaw,Member,Male,Sports and travel,57.12,7,19.9920,419.8320
219-22-9386,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220
336-78-2147,Naypyitaw,Member,Male,Home and lifestyle,63.91,8,25.5640,536.8440
268-27-6179,Mandalay,Member,Female,Fashion accessories,56.47,8,22.5880,474.3480
668-90-8900,Yangon,Normal,Female,Home and lifestyle,93.69,7,32.7915,688.6215
870-54-3162,Yangon,Normal,Female,Sports and travel,32.25,5,8.0625,169.3125
189-08-9157,Naypyitaw,Normal,Female,Fashion accessories,31.73,9,14.2785,299.8485
663-86-9076,Naypyitaw,Member,Female,Food and beverages,68.54,8,27.4160,575.7360
549-84-7482,Mandalay,Normal,Female,Sports and travel,90.28,9,40.6260,853.1460

## 6. Select a subset of rows and columns using the .iloc method.

In [83]:
df.iloc[ 5:15 , 0:8]

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%
Invoice ID,,,,,,,,
699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865
355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520
315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800
665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260
692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260
351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960
529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020
365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375
252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950
829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900

## 7. Filter rows based on a condition.

In [84]:
df[df['Quantity'] > 8]

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Invoice ID,,,,,,,,,,,,,,,,
315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950,453.4950,2/7/2019,16:48,Ewallet,431.90,4.761905,21.5950,8.2
829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
848-62-7243,A,Yangon,Normal,Male,Health and beauty,24.89,9,11.2005,235.2105,3/15/2019,15:36,Cash,224.01,4.761905,11.2005,7.4
149-71-6266,B,Mandalay,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/2019,12:43,Cash,702.63,4.761905,35.1315,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139-32-4183,A,Yangon,Member,Female,Sports and travel,97.48,9,43.8660,921.1860,3/14/2019,14:19,Ewallet,877.32,4.761905,43.8660,7.4
267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,3/29/2019,19:12,Ewallet,823.40,4.761905,41.1700,4.3
602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4

## 8. Group the DataFrame by a specific column and calculate the mean of each group.

In [85]:
group_col = df.groupby(['Gender']).mean(numeric_only=True)
group_col

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Gender,,,,,,,,
Female,55.263952,5.726547,15.956936,335.095659,319.138723,4.761905,15.956936,6.964471
Male,56.081944,5.292585,14.799487,310.789226,295.989739,4.761905,14.799487,6.980962

## 9. Group the DataFrame by multiple columns and calculate the sum of each group.

In [86]:
group_col_multiple = df.groupby(['City', 'Customer type','Product line']).sum(numeric_only=True)
group_col_multiple

                                                Unit price  Quantity  \
City      Customer type Product line
Mandalay  Member        Electronic accessories     1308.59       147
                        Fashion accessories        1669.69       143
                        Food and beverages         1622.39       160
                        Health and beauty          1531.25       172
                        Home and lifestyle         1130.72       137
                        Sports and travel          1870.03       165
          Normal        Electronic accessories     1433.39       169
                        Fashion accessories        1730.63       154
                        Food and beverages         1154.61       110
                        Health and beauty          1552.59       148
                        Home and lifestyle         1644.98       158
                        Sports and travel          1830.01       157
Naypyitaw Member        Electronic accessories     1294.59       120
                        Fashion accessories        2147.61       163
                        Food and beverages         2119.65       193
                        Health and beauty          1451.09       127
                        Home and lifestyle         1528.97       143
                        Sports and travel          1403.63       151
          Normal        Electronic accessories     1774.93       213
                        Fashion accessories        1735.23       179
                        Food and beverages         1660.37       176
                        Health and beauty          1459.42       150
                        Home and lifestyle          916.07       102
                        Sports and travel          1076.20       114
Yangon    Member        Electronic accessories     1708.52       162
                        Fashion accessories        1065.47       133
                        Food and beverages         1717.54       153
                        Health and beauty          1110.70       129
                        Home and lifestyle         1915.29       210
                        Sports and travel          1563.97       177
          Normal        Electronic accessories     1583.75       160
                        Fashion accessories        1824.72       130
                        Food and beverages         1470.98       160
                        Health and beauty          1232.83       128
                        Home and lifestyle         1714.68       161
                        Sports and travel          1717.04       156

                                                  Tax 5%       Total  \
City      Customer type Product line
Mandalay  Member        Electronic accessories  353.5645   7424.8545
                        Fashion accessories     349.5015   7339.5315
                        Food and beverages      448.7200   9423.1200
                        Health and beauty       539.4200  11327.8200
                        Home and lifestyle      369.9670   7769.3070
                        Sports and travel       496.1930  10420.0530
          Normal        Electronic accessories  458.4090   9626.5890
                        Fashion accessories     432.0850   9073.7850
                        Food and beverages      275.7985   5791.7685
                        Health and beauty       412.0400   8652.8400
                        Home and lifestyle      465.7075   9779.8575
                        Sports and travel       455.6260   9568.1460
Naypyitaw Member        Electronic accessories  377.5215   7927.9515
                        Fashion accessories     573.4215  12041.8515
                        Food and beverages      621.7830  13057.4430
                        Health and beauty       384.0155   8064.3255
                        Home and lifestyle      364.4010   7652.4210
                        Sports and travel       387.4900   8137.2900
          Normal        Electronic accessories  525.7630  11041.0230
                        Fashion accessories     453.2485   9518.2185
                        Food and beverages      509.9720  10709.4120
                        Health and beauty       407.1905   8551.0005
                        Home and lifestyle      297.2920   6243.1320
                        Sports and travel       363.0780   7624.6380
Yangon    Member        Electronic accessories  435.5090   9145.6890
                        Fashion accessories     330.5990   6942.5790
                        Food and beverages      422.7170   8877.0570
                        Health and beauty       306.6140   6438.8940
                        Home and lifestyle      597.9190  12556.2990
                        Sports and travel       460.8075   9676.9575
          Normal        Electronic accessories  436.7345   9171.4245
                        Fashion accessories     447.1395   9389.9295
                        Food and beverages      394.5735   8286.0435
                        Health and beauty       293.2790   6158.8590
                        Home and lifestyle      469.5665   9860.8965
                        Sports and travel       461.7020   9695.7420

                                                    cogs  \
City      Customer type Product line
Mandalay  Member        Electronic accessories   7071.29
                        Fashion accessories      6990.03
                        Food and beverages       8974.40
                        Health and beauty       10788.40
                        Home and lifestyle       7399.34
                        Sports and travel        9923.86
          Normal        Electronic accessories   9168.18
                        Fashion accessories      8641.70
                        Food and beverages       5515.97
                        Health and beauty        8240.80
                        Home and lifestyle       9314.15
                        Sports and travel        9112.52
Naypyitaw Member        Electronic accessories   7550.43
                        Fashion accessories     11468.43
                        Food and beverages      12435.66
                        Health and beauty        7680.31
                        Home and lifestyle       7288.02
                        Sports and travel        7749.80
          Normal        Electronic accessories  10515.26
                        Fashion accessories      9064.97
                        Food and beverages      10199.44
                        Health and beauty        8143.81
                        Home and lifestyle       5945.84
                        Sports and travel        7261.56
Yangon    Member        Electronic accessories   8710.18
                        Fashion accessories      6611.98
                        Food and beverages       8454.34
                        Health and beauty        6132.28
                        Home and lifestyle      11958.38
                        Sports and travel        9216.15
          Normal        Electronic accessories   8734.69
                        Fashion accessories      8942.79
                        Food and beverages       7891.47
                        Health and beauty        5865.58
                        Home and lifestyle       9391.33
                        Sports and travel        9234.04

                                                gross margin percentage  \
City      Customer type Product line
Mandalay  Member        Electronic accessories               128.571429
                        Fashion accessories                  152.380952
                        Food and beverages                   138.095238
                        Health and beauty                    123.809524
                        Home and lifestyle                   100.000000
                        Sports and travel                    142.857143
          Normal        Electronic accessories               133.333333
                        Fashion accessories                  142.857143
                        Food and beverages                   100.000000
                        Health and beauty                    128.571429
                        Home and lifestyle                   138.095238
                        Sports and travel                    152.380952
Naypyitaw Member        Electronic accessories                95.238095
                        Fashion accessories                  152.380952
                        Food and beverages                   171.428571
                        Health and beauty                    119.047619
                        Home and lifestyle                   133.333333
                        Sports and travel                    133.333333
          Normal        Electronic accessories               166.666667
                        Fashion accessories                  157.142857
                        Food and beverages                   142.857143
                        Health and beauty                    128.571429
                        Home and lifestyle                    80.952381
                        Sports and travel                     80.952381
Yangon    Member        Electronic accessories               147.619048
                        Fashion accessories                  104.761905
                        Food and beverages                   138.095238
                        Health and beauty                    104.761905
                        Home and lifestyle                   161.904762
                        Sports and travel                    138.095238
          Normal        Electronic accessories               138.095238
                        Fashion accessories                  138.095238
                        Food and beverages                   138.095238
                        Health and beauty                    119.047619
                        Home and lifestyle                   147.619048
                        Sports and travel                    142.857143

                                                gross income  Rating
City      Customer type Product line
Mandalay  Member        Electronic accessories      353.5645   193.6
                        Fashion accessories         349.5015   206.7
                        Food and beverages          448.7200   203.7
                        Health and beauty           539.4200   186.6
                        Home and lifestyle          369.9670   141.8
                        Sports and travel           496.1930   184.7
          Normal        Electronic accessories      458.4090   197.8
                        Fashion accessories         432.0850   210.1
                        Food and beverages          275.7985   146.0
                        Health and beauty           412.0400   189.7
                        Home and lifestyle          465.7075   184.0
                        Sports and travel           455.6260   218.9
Naypyitaw Member        Electronic accessories      377.5215   128.0
                        Fashion accessories         573.4215   244.4
                        Food and beverages          621.7830   250.2
                        Health and beauty           384.0155   176.1
                        Home and lifestyle          364.4010   197.0
                        Sports and travel           387.4900   195.5
          Normal        Electronic accessories      525.7630   243.1
                        Fashion accessories         453.2485   239.2
                        Food and beverages          509.9720   217.1
                        Health and beauty           407.1905   187.8
                        Home and lifestyle          297.2920   120.7
                        Sports and travel           363.0780   120.8
Yangon    Member        Electronic accessories      435.5090   220.5
                        Fashion accessories         330.5990   146.3
                        Food and beverages          422.7170   203.8
                        Health and beauty           306.6140   154.0
                        Home and lifestyle          597.9190   231.3
                        Sports and travel           460.8075   212.9
          Normal        Electronic accessories      436.7345   194.2
                        Fashion accessories         447.1395   204.5
                        Food and beverages          394.5735   216.9
                        Health and beauty           293.2790   170.3
                        Home and lifestyle          469.5665   219.2
                        Sports and travel           461.7020   215.3

## 10. Use the agg method to apply multiple aggregation functions to grouped data.

In [87]:
group_agg = df.groupby(['City']).agg({'Branch': ['count'], 'Unit price': ['mean', 'std'], 'Quantity': ['median', 'nunique'], 'Total': ['mean'], 'Rating': ['mean', 'median']})
group_agg

          Branch Unit price            Quantity               Total    Rating  \
           count       mean        std   median nunique        mean      mean
City
Mandalay     332  55.659277  26.224559      5.0      10  319.872506  6.818072
Naypyitaw    328  56.609024  27.179799      6.0      10  337.099715  7.072866
Yangon       340  54.780853  26.132127      5.0      10  312.354031  7.027059


          median
City
Mandalay     6.7
Naypyitaw    7.1
Yangon       7.1

## 11. Calculate the size of each group.

In [88]:
print(group_col.size)
print(group_col_multiple.size)
print(group_agg.size)

16
288
24

## 12. Select rows based on multiple conditions.

In [89]:
df[(df['City'] == 'Yangon') & (df['Customer type'] == 'Member') & (df['Total'] > 500) & (df['Payment'] == 'Credit card')]

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Invoice ID,,,,,,,,,,,,,,,,
656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6
105-31-1824,A,Yangon,Member,Male,Sports and travel,69.52,7,24.3320,510.9720,2/1/2019,15:10,Credit card,486.64,4.761905,24.3320,8.5
253-12-6086,A,Yangon,Member,Female,Sports and travel,98.40,7,34.4400,723.2400,3/12/2019,12:43,Credit card,688.80,4.761905,34.4400,8.7
612-36-5536,A,Yangon,Member,Male,Food and beverages,80.96,8,32.3840,680.0640,2/17/2019,11:12,Credit card,647.68,4.761905,32.3840,7.4
308-47-4913,A,Yangon,Member,Female,Sports and travel,52.26,10,26.1300,548.7300,3/9/2019,12:45,Credit card,522.60,4.761905,26.1300,6.2
138-17-5109,A,Yangon,Member,Female,Home and lifestyle,89.21,9,40.1445,843.0345,1/15/2019,15:42,Credit card,802.89,4.761905,40.1445,6.5
435-13-4908,A,Yangon,Member,Male,Fashion accessories,86.68,8,34.6720,728.1120,1/24/2019,18:04,Credit card,693.44,4.761905,34.6720,7.2
828-46-6863,A,Yangon,Member,Male,Food and beverages,98.53,6,29.5590,620.7390,1/23/2019,11:22,Credit card,591.18,4.761905,29.5590,4.0
868-06-0466,A,Yangon,Member,Male,Electronic accessories,69.58,9,31.3110,657.5310,2/19/2019,19:38,Credit card,626.22,4.761905,31.3110,7.8
263-12-5321,A,Yangon,Member,Male,Electronic accessories,92.60,7,32.4100,680.6100,2/27/2019,12:52,Credit card,648.20,4.761905,32.4100,9.3
416-17-9926,A,Yangon,Member,Female,Electronic accessories,74.22,10,37.1100,779.3100,1/1/2019,14:42,Credit card,742.20,4.761905,37.1100,4.3

## 13. Use the query method to filter rows.

In [90]:
df.query('City == "Yangon" and `Unit price` > 80 and Rating > 9')

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Invoice ID,,,,,,,,,,,,,,,,
827-77-7633,A,Yangon,Normal,Male,Sports and travel,98.09,9,44.1405,926.9505,2/17/2019,19:41,Cash,882.81,4.761905,44.1405,9.3
436-54-4512,A,Yangon,Member,Female,Food and beverages,91.61,1,4.5805,96.1905,3/20/2019,19:44,Cash,91.61,4.761905,4.5805,9.8
786-94-2700,A,Yangon,Member,Male,Food and beverages,80.62,6,24.1860,507.9060,2/28/2019,20:18,Cash,483.72,4.761905,24.1860,9.1
805-86-0265,A,Yangon,Normal,Male,Home and lifestyle,93.96,9,42.2820,887.9220,3/20/2019,11:32,Cash,845.64,4.761905,42.2820,9.8
263-12-5321,A,Yangon,Member,Male,Electronic accessories,92.60,7,32.4100,680.6100,2/27/2019,12:52,Credit card,648.20,4.761905,32.4100,9.3
528-14-9470,A,Yangon,Member,Male,Health and beauty,91.30,1,4.5650,95.8650,2/14/2019,14:42,Ewallet,91.30,4.761905,4.5650,9.2
409-33-9708,A,Yangon,Normal,Female,Fashion accessories,98.48,2,9.8480,206.8080,2/19/2019,10:12,Ewallet,196.96,4.761905,9.8480,9.2
166-19-2553,A,Yangon,Member,Male,Sports and travel,89.06,6,26.7180,561.0780,1/18/2019,17:26,Cash,534.36,4.761905,26.7180,9.9
195-06-0432,A,Yangon,Member,Male,Home and lifestyle,81.01,3,12.1515,255.1815,1/13/2019,12:55,Credit card,243.03,4.761905,12.1515,9.3

## 14. Use isin to filter rows based on a list of values.

In [91]:
df[(df['Branch'].isin(['A', 'B'])) & (df['Product line'].isin(['Sports and travel', 'Fashion accessories']))]

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Invoice ID,,,,,,,,,,,,,,,,
373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,60.8160,2/6/2019,18:07,Ewallet,57.92,4.761905,2.8960,4.5
299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,1/15/2019,16:19,Cash,562.32,4.761905,28.1160,4.5
765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,457.4430,1/1/2019,10:39,Credit card,435.66,4.761905,21.7830,6.9
549-59-1358,A,Yangon,Member,Male,Sports and travel,88.63,3,13.2945,279.1845,3/2/2019,17:36,Ewallet,265.89,4.761905,13.2945,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139-32-4183,A,Yangon,Member,Female,Sports and travel,97.48,9,43.8660,921.1860,3/14/2019,14:19,Ewallet,877.32,4.761905,43.8660,7.4
374-38-5555,B,Mandalay,Normal,Female,Fashion accessories,63.71,5,15.9275,334.4775,2/7/2019,19:30,Ewallet,318.55,4.761905,15.9275,8.5
602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

## 15. Select specific columns and rename them.

In [93]:
df.rename(columns={'Product line': 'Product', 'Tax 5%': 'Tax'}, inplace=True)

In [94]:
df.head()

,Branch,City,Customer type,Gender,Product,Unit price,Quantity,Tax,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Invoice ID,,,,,,,,,,,,,,,,
750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3